In [123]:
import pandas as pd
import numpy as np

df = pd.read_csv("movie_metadata.csv")

In [124]:
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [125]:
df.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [126]:
df = df.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title', 'language']]

In [127]:
df['language'] = df['language'].replace(np.nan, 'unknown')
df['actor_1_name'] = df['actor_1_name'].replace(np.nan, 'unknown')
df['actor_2_name'] = df['actor_2_name'].replace(np.nan, 'unknown')
df['actor_3_name'] = df['actor_3_name'].replace(np.nan, 'unknown')
df['director_name'] = df['director_name'].replace(np.nan, 'unknown')

In [128]:
df.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
language         0
dtype: int64

In [129]:
df['genres'] = df['genres'].str.replace('|', ' ')

In [130]:
df.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,language
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,Avatar,English
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,Pirates of the Caribbean: At World's End,English
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,Spectre,English
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,The Dark Knight Rises,English
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,Star Wars: Episode VII - The Force AwakensÂ ...,unknown

In [131]:
df['movie_title'] = df['movie_title'].str.lower()

In [132]:
df['movie_title'][0]

'avatar\xa0'

In [133]:
df['movie_title'] = df['movie_title'].apply(lambda x : x[:-1])
df['movie_title'][0]

'avatar'

In [134]:
df.to_csv("gbc1.csv")

## Working on Credits Dataset

In [135]:
df1 = pd.read_csv("movies_metadata.csv")
df2 = pd.read_csv("credits.csv")
df2.head()

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [136]:
df1.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [137]:
df1['year'] = pd.to_datetime(df1['release_date'], errors='coerce' )

In [138]:
df1['year'] = df1['year'].dt.year

In [139]:
df1['year'].value_counts().sort_index()

1874.0       1
1878.0       1
1883.0       1
1887.0       1
1888.0       2
          ...
2015.0    1905
2016.0    1604
2017.0     532
2018.0       5
2020.0       1
Name: year, Length: 135, dtype: int64

In [140]:
new_df = df1.loc[df1.year == 2017,['genres','id','title','year']]

In [141]:
new_df

,genres,id,title,year
26560,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0
26561,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141052,Justice League,2017.0
26565,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",284053,Thor: Ragnarok,2017.0
26566,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",283995,Guardians of the Galaxy Vol. 2,2017.0
30536,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",245842,The King's Daughter,2017.0
...,...,...,...,...
45398,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",468707,Thick Lashes of Lauri MÃ¤ntyvaara,2017.0
45417,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",461297,Cop and a Half: New Recruit,2017.0
45437,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",455661,In a Heartbeat,2017.0
45453,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",404604,Mom,2017.0
45465,[],461257,Queerama,2017.0

In [142]:
new_df['id'] = new_df['id'].astype(int)

In [143]:
new_df.dtypes

genres     object
id          int64
title      object
year      float64
dtype: object

In [144]:
data = pd.merge(new_df, df2, on='id')

In [145]:
data.head()

,genres,id,title,year,cast,crew
0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'de..."
1,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141052,Justice League,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'de..."
2,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",284053,Thor: Ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', '...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'de..."
3,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",283995,Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / St...","[{'credit_id': '59171547925141583c0315a6', 'de..."
4,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",245842,The King's Daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV',...","[{'credit_id': '5431de49c3a36825d300007e', 'de..."

In [146]:
import ast
data['genres'] = data['genres'].map(lambda x: ast.literal_eval(x))
data['cast'] = data['cast'].map(lambda x: ast.literal_eval(x))
data['crew'] = data['crew'].map(lambda x: ast.literal_eval(x))

In [147]:
def make_genresList(x):
    gen = []
    st = " "
    for i in x:
        if i.get('name') == 'Science Fiction':
            scifi = 'Sci-Fi'
            gen.append(scifi)
        else:
            gen.append(i.get('name'))
    if gen == []:
        return np.NaN
    else:
        return (st.join(gen))

In [148]:
data['genres_list'] = data['genres'].map(lambda x: make_genresList(x))

In [149]:
data['genres_list']

0      Adventure Action Fantasy Comedy
1      Action Adventure Fantasy Sci-Fi
2      Action Adventure Fantasy Sci-Fi
3       Action Adventure Comedy Sci-Fi
4             Fantasy Action Adventure
                    ...
526                     Romance Comedy
527         Crime Comedy Action Family
528    Family Animation Romance Comedy
529               Crime Drama Thriller
530                                NaN
Name: genres_list, Length: 531, dtype: object

In [150]:
def get_actor1(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == []:
        return np.NaN
    else:
        return (casts[0])

In [151]:
data['actor_1_name'] = data['cast'].map(lambda x: get_actor1(x))

In [152]:
def get_actor2(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == [] or len(casts)<=1:
        return np.NaN
    else:
        return (casts[1])

In [153]:
data['actor_2_name'] = data['cast'].map(lambda x: get_actor2(x))

In [154]:
def get_actor3(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == [] or len(casts)<=2:
        return np.NaN
    else:
        return (casts[2])

In [155]:
data['actor_3_name'] = data['cast'].map(lambda x: get_actor3(x))

In [156]:
def get_directors(x):
    dt = []
    st = " "
    for i in x:
        if i.get('job') == 'Director':
            dt.append(i.get('name'))
    if dt == []:
        return np.NaN
    else:
        return (st.join(dt))

In [157]:
data['director_name'] = data['crew'].map(lambda x: get_directors(x))

In [158]:
movie = data.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres_list','title']]

In [159]:
movie

,director_name,actor_1_name,actor_2_name,actor_3_name,genres_list,title
0,Joachim RÃ¸nning Espen Sandberg,Johnny Depp,Javier Bardem,Geoffrey Rush,Adventure Action Fantasy Comedy,Pirates of the Caribbean: Dead Men Tell No Tales
1,Zack Snyder,Ben Affleck,Henry Cavill,Gal Gadot,Action Adventure Fantasy Sci-Fi,Justice League
2,Taika Waititi,Chris Hemsworth,Tom Hiddleston,Cate Blanchett,Action Adventure Fantasy Sci-Fi,Thor: Ragnarok
3,James Gunn,Chris Pratt,Zoe Saldana,Dave Bautista,Action Adventure Comedy Sci-Fi,Guardians of the Galaxy Vol. 2
4,Sean McNamara,Pierce Brosnan,William Hurt,Benjamin Walker,Fantasy Action Adventure,The King's Daughter
...,...,...,...,...,...,...
526,Hannaleena Hauru,Inka HaapamÃ¤ki,Rosa Honkonen,Tiitus Rantala,Romance Comedy,Thick Lashes of Lauri MÃ¤ntyvaara
527,Jonathan A. Rosenbaum,Lou Diamond Phillips,Wallace Shawn,Gina Holden,Crime Comedy Action Family,Cop and a Half: New Recruit
528,Beth David Esteban Bravo,NaN,NaN,NaN,Family Animation Romance Comedy,In a Heartbeat
529,Ravi Udyawar,Sridevi Kapoor,Sajal Ali,Akshaye Khanna,Crime Drama Thriller,Mom
530,Daisy Asquith,NaN,NaN,NaN,NaN,Queerama

In [160]:
movie = movie.dropna(how='any')

In [161]:
movie.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres_list      0
title            0
dtype: int64

In [162]:
movie = movie.rename(columns={'genres_list':'genres'})
movie = movie.rename(columns={'title':'movie_title'})
movie['movie_title'] = movie['movie_title'].str.lower()

In [163]:
movie['comb'] = movie['actor_1_name'] + ' ' + movie['actor_2_name'] + ' '+ movie['actor_3_name'] + ' '+ movie['director_name'] +' ' + movie['genres']

In [164]:
old = pd.read_csv('gbc1.csv')

In [165]:
old['comb'] = old['actor_1_name'] + ' ' + old['actor_2_name'] + ' '+ old['actor_3_name'] + ' '+ old['director_name'] +' ' + old['genres']

In [166]:
new = old.append(movie)

In [167]:
new.shape

(5501, 9)

In [168]:
new.drop_duplicates(subset ="movie_title", keep = 'last', inplace = True)

In [169]:
new.to_csv('new_data.csv',index=False)

In [171]:
df = pd.read_csv('new_data.csv')
df

,Unnamed: 0,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,language,comb
0,0.0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,English,CCH Pounder Joel David Moore Wes Studi James C...
1,1.0,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,English,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,2.0,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,English,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,3.0,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,English,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,4.0,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakensÂ ...,unknown,Doug Walker Rob Walker unknown Doug Walker Doc...
...,...,...,...,...,...,...,...,...,...
5359,NaN,Jim Strouse,Jessica Williams,Chris O'Dowd,Keith Stanfield,Romance Comedy,the incredible jessica james,NaN,Jessica Williams Chris O'Dowd Keith Stanfield ...
5360,NaN,Farhad Mann,Adelaide Kane,Benjamin Hollingsworth,Jean Louisa Kelly,Romance,can't buy my love,NaN,Adelaide Kane Benjamin Hollingsworth Jean Loui...
5361,NaN,Hannaleena Hauru,Inka HaapamÃ¤ki,Rosa Honkonen,Tiitus Rantala,Romance Comedy,thick lashes of lauri mÃ¤ntyvaara,NaN,Inka HaapamÃ¤ki Rosa Honkonen Tiitus Rantala Ha...
5362,NaN,Jonathan A. Rosenbaum,Lou Diamond Phillips,Wallace Shawn,Gina Holden,Crime Comedy Action Family,cop and a half: new recruit,NaN,Lou Diamond Phillips Wallace Shawn Gina Holden...
5363,NaN,Ravi Udyawar,Sridevi Kapoor,Sajal Ali,Akshaye Khanna,Crime Drama Thriller,mom,NaN,Sridevi Kapoor Sajal Ali Akshaye Khanna Ravi U...

### Extracting features of 2018 movies from Wikipedia

In [50]:
import pandas as pd
import numpy as np

In [51]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2018"
df1 = pd.read_html(link, header=0)[2]
df2 = pd.read_html(link, header=0)[3]
df3 = pd.read_html(link, header=0)[4]
df4 = pd.read_html(link, header=0)[5]

In [52]:
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [53]:
df

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,JANUARY,5,Insidious: The Last Key,Universal Pictures / Blumhouse Productions / S...,Adam Robitel (director); Leigh Whannell (scree...,[2]
1,JANUARY,5,The Strange Ones,Vertical Entertainment,Lauren Wolkstein (director); Christopher Radcl...,[3]
2,JANUARY,5,Stratton,Momentum Pictures,"Simon West (director); Duncan Falconer, Warren...",[4]
3,JANUARY,10,Sweet Country,Samuel Goldwyn Films,"Warwick Thornton (director); David Tranter, St...",[5]
4,JANUARY,12,The Commuter,Lionsgate / StudioCanal / The Picture Company,Jaume Collet-Serra (director); Byron Willinger...,[6]
...,...,...,...,...,...,...
264,DECEMBER,25,Holmes & Watson,Columbia Pictures / Gary Sanchez Productions,Etan Cohen (director/screenplay); Will Ferrell...,[162]
265,DECEMBER,25,Vice,Annapurna Pictures / Plan B Entertainment,Adam McKay (director/screenplay); Christian Ba...,[136]
266,DECEMBER,25,On the Basis of Sex,Focus Features,Mimi Leder (director); Daniel Stiepleman (scre...,[225]
267,DECEMBER,25,Destroyer,Annapurna Pictures,"Karyn Kusama (director); Phil Hay, Matt Manfre...",[257]
268,DECEMBER,28,Black Mirror: Bandersnatch,Netflix,David Slade (director); Charlie Brooker (scree...,[258]

In [54]:
from omdbapi.movie_search import GetMovie
import json
import requests

In [55]:
genres = []
for i in range(268):
    movie = GetMovie(title=df['Title'][i], api_key='e3fc1d3f', plot='full')
    data = movie.get_data('Genre')
    genres.append(data)

In [56]:
from pandas import DataFrame
df3 = DataFrame(genres,columns=['Genre'])

In [57]:
df['genres'] = df3

In [58]:
df_en = df[['Title','Cast and crew','genres']]

In [59]:
df_en

,Title,Cast and crew,genres
0,Insidious: The Last Key,Adam Robitel (director); Leigh Whannell (scree...,"Horror, Mystery, Thriller"
1,The Strange Ones,Lauren Wolkstein (director); Christopher Radcl...,"Drama, Thriller"
2,Stratton,"Simon West (director); Duncan Falconer, Warren...","Action, Thriller"
3,Sweet Country,"Warwick Thornton (director); David Tranter, St...","Adventure, Crime, Drama, History, Thriller, We..."
4,The Commuter,Jaume Collet-Serra (director); Byron Willinger...,"Action, Mystery, Thriller"
...,...,...,...
264,Holmes & Watson,Etan Cohen (director/screenplay); Will Ferrell...,"Comedy, Crime, Mystery"
265,Vice,Adam McKay (director/screenplay); Christian Ba...,"Biography, Comedy, Drama"
266,On the Basis of Sex,Mimi Leder (director); Daniel Stiepleman (scre...,"Biography, Drama"
267,Destroyer,"Karyn Kusama (director); Phil Hay, Matt Manfre...","Action, Crime, Drama, Mystery, Thriller"
268,Black Mirror: Bandersnatch,David Slade (director); Charlie Brooker (scree...,NaN

In [60]:
def get_director(x):
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

In [61]:
df_en['director_name'] = df_en['Cast and crew'].map(lambda x: get_director(x))

<ipython-input-61-acbd25dcf5d9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_en['director_name'] = df_en['Cast and crew'].map(lambda x: get_director(x))

In [62]:
def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [63]:
df_en['actor_1_name'] = df_en['Cast and crew'].map(lambda x: get_actor1(x))

<ipython-input-63-9b2cd0307416>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_en['actor_1_name'] = df_en['Cast and crew'].map(lambda x: get_actor1(x))

In [64]:
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [65]:
df_en['actor_2_name'] = df_en['Cast and crew'].map(lambda x: get_actor2(x))

<ipython-input-65-1978d7b65e8a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_en['actor_2_name'] = df_en['Cast and crew'].map(lambda x: get_actor2(x))

In [66]:
def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [67]:
df_en['actor_3_name'] = df_en['Cast and crew'].map(lambda x: get_actor3(x))

In [68]:
df_en = df_en.rename(columns={'Title':'movie_title'})

In [69]:
new_df18 = df_en.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [70]:
new_df18['actor_2_name'] = new_df18['actor_2_name'].replace(np.nan, 'unknown')
new_df18['actor_3_name'] = new_df18['actor_3_name'].replace(np.nan, 'unknown')
new_df18['movie_title'] = new_df18['movie_title'].str.lower()

In [71]:
new_df18['comb'] = new_df18['actor_1_name'] + ' ' + new_df18['actor_2_name'] + ' '+ new_df18['actor_3_name'] + ' '+ new_df18['director_name'] +' ' + new_df18['genres']

In [72]:
new_df18

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Adam Robitel,Lin Shaye,Angus Sampson,Leigh Whannell,"Horror, Mystery, Thriller",insidious: the last key,Lin Shaye Angus Sampson Leigh Whannell Adam Ro...
1,Lauren Wolkstein,Alex Pettyfer,James Freedson-Jackson,Emily Althaus,"Drama, Thriller",the strange ones,Alex Pettyfer James Freedson-Jackson Emily Alt...
2,Simon West,Dominic Cooper,Austin Stowell,Gemma Chan,"Action, Thriller",stratton,Dominic Cooper Austin Stowell Gemma Chan Simon...
3,Warwick Thornton,Bryan Brown,Sam Neill,unknown,"Adventure, Crime, Drama, History, Thriller, We...",sweet country,Bryan Brown Sam Neill unknown Warwick Thornton...
4,Jaume Collet-Serra,Liam Neeson,Vera Farmiga,Patrick Wilson,"Action, Mystery, Thriller",the commuter,Liam Neeson Vera Farmiga Patrick Wilson Jaume ...
...,...,...,...,...,...,...,...
264,Etan Cohen,Will Ferrell,John C. Reilly,Rebecca Hall,"Comedy, Crime, Mystery",holmes & watson,Will Ferrell John C. Reilly Rebecca Hall Etan ...
265,Adam McKay,Christian Bale,Amy Adams,Steve Carell,"Biography, Comedy, Drama",vice,Christian Bale Amy Adams Steve Carell Adam McK...
266,Mimi Leder,Felicity Jones,Armie Hammer,Justin Theroux,"Biography, Drama",on the basis of sex,Felicity Jones Armie Hammer Justin Theroux Mim...
267,Karyn Kusama,Nicole Kidman,Sebastian Stan,Toby Kebbell,"Action, Crime, Drama, Mystery, Thriller",destroyer,Nicole Kidman Sebastian Stan Toby Kebbell Kary...
268,David Slade,Fionn Whitehead,Will Poulter,Asim Chaudhry,NaN,black mirror: bandersnatch,NaN

In [110]:
link = "https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_2018"
df1 = pd.read_html(link, header=0)[2]
df2 = pd.read_html(link, header=0)[3]
df3 = pd.read_html(link, header=0)[4]
df4 = pd.read_html(link, header=0)[5]

In [111]:
df_b = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [112]:
df_b

,Opening,Opening.1,Title,Director,Cast,Production house,Ref.
0,JAN,12,1921,Vikram Bhatt,Zareen KhanKaran KundraTobby HinstonSonia Arms...,ASA Productions and Enterprises,[16][17]
1,JAN,12,Kaalakaandi,Akshat Verma,Saif Ali KhanIsha TalwarShenaz TreasuryAkshay ...,Cinestan Film Company,[18][19]
2,JAN,12,Mukkabaaz,Anurag Kashyap,Vineet Kumar SinghZoya HussainRavi KishanJimmy...,"Eros International, Colour Yellow Productions",[20][21]
3,JAN,15,Phir Se...,Kunal Kohli,Jennifer WingetKunal KohliRajit Kapur,"Bombay Film Company Ltd, Netflix",[22][23][24]
4,JAN,19,My Birthday Song,Samir Soni,Sanjay SuriNora FatehiPitobash,Kahwa entertainment,[25][26]
...,...,...,...,...,...,...,...
99,NOV,30,Rajma Chawal,Leena Yadav,Rishi KapoorAnirudh TanwarAmyra Dastur,"SaarthiE, Netflix",[129]
100,DEC,7,Kedarnath,Abhishek Kapoor,Sushant Singh RajputSara Ali Khan,"RSVP Movies, Guy in the Sky Pictures",[130][131]
101,DEC,14,Ascharyachakit!,Samit Kakkad,Priyanka BoseVaibhav Raj GuptaAnkit RaajAnangs...,"Yoodlee films, Samit Kakkad Films",[132]
102,DEC,21,Zero,Aanand L. Rai,Shah Rukh KhanKatrina KaifAnushka SharmaTigman...,"Red Chillies Entertainment, Colour Yellow Prod...",[133][134]
103,DEC,28,Simmba,Rohit Shetty,Ranveer SinghSara Ali KhanSonu Sood,"Dharma Productions, Reliance Entertainment",[135][136]

In [76]:
from omdbapi.movie_search import GetMovie
import json
import requests

In [77]:
genres = []
for i in range(104):
    movie = GetMovie(title=df_b['Title'][i], api_key='e3fc1d3f', plot='full')
    data = movie.get_data('Genre')
    genres.append(data)

In [78]:
from pandas import DataFrame
df4 = DataFrame(genres,columns=['Genre'])

In [79]:
df_b['genres'] = df4

In [80]:
df_b['Cast and crew'] = df_b['Cast']

In [81]:
df_en = df_b[['Title','Director','Cast and crew','genres']]

In [82]:
df_en

,Title,Director,Cast and crew,genres
0,1921,Vikram Bhatt,Zareen KhanKaran KundraTobby HinstonSonia Arms...,"Horror, Mystery, Romance"
1,Kaalakaandi,Akshat Verma,Saif Ali KhanIsha TalwarShenaz TreasuryAkshay ...,"Comedy, Thriller"
2,Mukkabaaz,Anurag Kashyap,Vineet Kumar SinghZoya HussainRavi KishanJimmy...,key not found!
3,Phir Se...,Kunal Kohli,Jennifer WingetKunal KohliRajit Kapur,Romance
4,My Birthday Song,Samir Soni,Sanjay SuriNora FatehiPitobash,Thriller
...,...,...,...,...
99,Rajma Chawal,Leena Yadav,Rishi KapoorAnirudh TanwarAmyra Dastur,"Comedy, Drama, Family"
100,Kedarnath,Abhishek Kapoor,Sushant Singh RajputSara Ali Khan,"Drama, Romance"
101,Ascharyachakit!,Samit Kakkad,Priyanka BoseVaibhav Raj GuptaAnkit RaajAnangs...,"Drama, Romance"
102,Zero,Aanand L. Rai,Shah Rukh KhanKatrina KaifAnushka SharmaTigman...,"Comedy, Drama, Romance"
103,Simmba,Rohit Shetty,Ranveer SinghSara Ali KhanSonu Sood,"Action, Comedy, Drama"

In [83]:
df_en['Cast and crew'] = df_en['Cast and crew'].str.replace( r"([A-Z])", r" \1").str.strip()

<ipython-input-83-add6444aa4b9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_en['Cast and crew'] = df_en['Cast and crew'].str.replace( r"([A-Z])", r" \1").str.strip()

In [84]:
df_en

,Title,Director,Cast and crew,genres
0,1921,Vikram Bhatt,Zareen Khan Karan Kundra Tobby Hinston Soni...,"Horror, Mystery, Romance"
1,Kaalakaandi,Akshat Verma,Saif Ali Khan Isha Talwar Shenaz Treasury ...,"Comedy, Thriller"
2,Mukkabaaz,Anurag Kashyap,Vineet Kumar Singh Zoya Hussain Ravi Kisha...,key not found!
3,Phir Se...,Kunal Kohli,Jennifer Winget Kunal Kohli Rajit Kapur,Romance
4,My Birthday Song,Samir Soni,Sanjay Suri Nora Fatehi Pitobash,Thriller
...,...,...,...,...
99,Rajma Chawal,Leena Yadav,Rishi Kapoor Anirudh Tanwar Amyra Dastur,"Comedy, Drama, Family"
100,Kedarnath,Abhishek Kapoor,Sushant Singh Rajput Sara Ali Khan,"Drama, Romance"
101,Ascharyachakit!,Samit Kakkad,Priyanka Bose Vaibhav Raj Gupta Ankit Raaj...,"Drama, Romance"
102,Zero,Aanand L. Rai,Shah Rukh Khan Katrina Kaif Anushka Sharma...,"Comedy, Drama, Romance"
103,Simmba,Rohit Shetty,Ranveer Singh Sara Ali Khan Sonu Sood,"Action, Comedy, Drama"

In [121]:
df_en.to_csv("2018_Movies.csv")

In [113]:
df10 = pd.read_csv("2018_Movies_cleaned.csv")
df10.head()

,Unnamed: 0,movie_title,director_name,Cast and crew,genres,actor_1_name,actor_2_name,actor_3_name
0,0,1921,Vikram Bhatt,Zareen Khan Karan Kundra Tobby Hinston Soni...,"Horror, Mystery, Romance",Zareen Khan,Karan Kundra,Tobby Hinston
1,1,Kaalakaandi,Akshat Verma,Shenaz Treasury Akshay Oberoi Vijay Raaz D...,"Comedy, Thriller",Saif Ali Khan,Isha Talwar,Akshay Oberoi
2,2,Mukkabaaz,Anurag Kashyap,Vineet Kumar Singh Zoya Hussain Ravi Kisha...,"Romance, Drama",Vineet Kumar Singh,Zoya Hussain,Jimmy Sheirgill
3,3,Phir Se...,Kunal Kohli,Jennifer Winget Kunal Kohli Rajit Kapur,Romance,Jennifer Winget,Kunal Kohli,Rajit Kapur
4,4,My Birthday Song,Samir Soni,Sanjay Suri Nora Fatehi Pitobash,Thriller,Sanjay Suri,Nora Fatehi,Pitobash

In [114]:
hnew_df18 = df10.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [115]:
hnew_df18

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,Vikram Bhatt,Zareen Khan,Karan Kundra,Tobby Hinston,"Horror, Mystery, Romance",1921
1,Akshat Verma,Saif Ali Khan,Isha Talwar,Akshay Oberoi,"Comedy, Thriller",Kaalakaandi
2,Anurag Kashyap,Vineet Kumar Singh,Zoya Hussain,Jimmy Sheirgill,"Romance, Drama",Mukkabaaz
3,Kunal Kohli,Jennifer Winget,Kunal Kohli,Rajit Kapur,Romance,Phir Se...
4,Samir Soni,Sanjay Suri,Nora Fatehi,Pitobash,Thriller,My Birthday Song
...,...,...,...,...,...,...
98,Leena Yadav,Rishi Kapoor,Anirudh Tanwar,Amyra Dastur,"Comedy, Drama, Family",Rajma Chawal
99,Abhishek Kapoor,Sushant Singh Rajput,Sara Ali Khan,NaN,"Drama, Romance",Kedarnath
100,Samit Kakkad,Priyanka Bose,Vaibhav Raj Gupta,Ankit Raaj,"Drama, Romance",Ascharyachakit!
101,Aanand L. Rai,Shah Rukh Khan,Katrina Kaif,Anushka Sharma,"Comedy, Drama, Romance",Zero
102,Rohit Shetty,Ranveer Singh,Sara Ali Khan,Sonu Sood,"Action, Comedy, Drama",Simmba

In [116]:
hnew_df18['actor_2_name'] = hnew_df18['actor_2_name'].replace(np.nan, 'unknown')
hnew_df18['actor_3_name'] = hnew_df18['actor_3_name'].replace(np.nan, 'unknown')
hnew_df18['movie_title'] = hnew_df18['movie_title'].str.lower()

In [117]:
hnew_df18['comb'] = hnew_df18['actor_1_name'] + ' ' + hnew_df18['actor_2_name'] + ' '+ hnew_df18['actor_3_name'] + ' '+ hnew_df18['director_name'] +' ' + hnew_df18['genres']

In [118]:
hnew_df18

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Vikram Bhatt,Zareen Khan,Karan Kundra,Tobby Hinston,"Horror, Mystery, Romance",1921,Zareen Khan Karan Kundra Tobby Hinston Vik...
1,Akshat Verma,Saif Ali Khan,Isha Talwar,Akshay Oberoi,"Comedy, Thriller",kaalakaandi,Saif Ali Khan Isha Talwar Akshay Oberoi Ak...
2,Anurag Kashyap,Vineet Kumar Singh,Zoya Hussain,Jimmy Sheirgill,"Romance, Drama",mukkabaaz,Vineet Kumar Singh Zoya Hussain Jimmy Shei...
3,Kunal Kohli,Jennifer Winget,Kunal Kohli,Rajit Kapur,Romance,phir se...,Jennifer Winget Kunal Kohli Rajit Kapur Kun...
4,Samir Soni,Sanjay Suri,Nora Fatehi,Pitobash,Thriller,my birthday song,Sanjay Suri Nora Fatehi Pitobash Samir Soni ...
...,...,...,...,...,...,...,...
98,Leena Yadav,Rishi Kapoor,Anirudh Tanwar,Amyra Dastur,"Comedy, Drama, Family",rajma chawal,Rishi Kapoor Anirudh Tanwar Amyra Dastur Le...
99,Abhishek Kapoor,Sushant Singh Rajput,Sara Ali Khan,unknown,"Drama, Romance",kedarnath,Sushant Singh Rajput Sara Ali Khan unknown...
100,Samit Kakkad,Priyanka Bose,Vaibhav Raj Gupta,Ankit Raaj,"Drama, Romance",ascharyachakit!,Priyanka Bose Vaibhav Raj Gupta Ankit Raaj...
101,Aanand L. Rai,Shah Rukh Khan,Katrina Kaif,Anushka Sharma,"Comedy, Drama, Romance",zero,Shah Rukh Khan Katrina Kaif Anushka Sharma...
102,Rohit Shetty,Ranveer Singh,Sara Ali Khan,Sonu Sood,"Action, Comedy, Drama",simmba,Ranveer Singh Sara Ali Khan Sonu Sood Rohit ...

In [119]:
df_2018 = new_df18.append(hnew_df18,ignore_index=True)

In [120]:
df_2018

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Adam Robitel,Lin Shaye,Angus Sampson,Leigh Whannell,"Horror, Mystery, Thriller",insidious: the last key,Lin Shaye Angus Sampson Leigh Whannell Adam Ro...
1,Lauren Wolkstein,Alex Pettyfer,James Freedson-Jackson,Emily Althaus,"Drama, Thriller",the strange ones,Alex Pettyfer James Freedson-Jackson Emily Alt...
2,Simon West,Dominic Cooper,Austin Stowell,Gemma Chan,"Action, Thriller",stratton,Dominic Cooper Austin Stowell Gemma Chan Simon...
3,Warwick Thornton,Bryan Brown,Sam Neill,unknown,"Adventure, Crime, Drama, History, Thriller, We...",sweet country,Bryan Brown Sam Neill unknown Warwick Thornton...
4,Jaume Collet-Serra,Liam Neeson,Vera Farmiga,Patrick Wilson,"Action, Mystery, Thriller",the commuter,Liam Neeson Vera Farmiga Patrick Wilson Jaume ...
...,...,...,...,...,...,...,...
367,Leena Yadav,Rishi Kapoor,Anirudh Tanwar,Amyra Dastur,"Comedy, Drama, Family",rajma chawal,Rishi Kapoor Anirudh Tanwar Amyra Dastur Le...
368,Abhishek Kapoor,Sushant Singh Rajput,Sara Ali Khan,unknown,"Drama, Romance",kedarnath,Sushant Singh Rajput Sara Ali Khan unknown...
369,Samit Kakkad,Priyanka Bose,Vaibhav Raj Gupta,Ankit Raaj,"Drama, Romance",ascharyachakit!,Priyanka Bose Vaibhav Raj Gupta Ankit Raaj...
370,Aanand L. Rai,Shah Rukh Khan,Katrina Kaif,Anushka Sharma,"Comedy, Drama, Romance",zero,Shah Rukh Khan Katrina Kaif Anushka Sharma...
371,Rohit Shetty,Ranveer Singh,Sara Ali Khan,Sonu Sood,"Action, Comedy, Drama",simmba,Ranveer Singh Sara Ali Khan Sonu Sood Rohit ...

In [122]:
df_2018.to_csv("2018_Films_All.csv")